<img src="http://localhost:3000/static/image.png" width="180">
<header id="header">
        <p id="notification"> </p>
</header>
<div id="menu" class="w3-content">
    <div class="w3-top w3-bar w3-xlarge w3-black w3-opacity-min">
    <a href="/pizza" class="w3-bar-item w3-button">PIZZA</a>
    <a href="/drink" class="w3-bar-item w3-button">DRINK</a>
    <a href="/constructor" class="w3-bar-item w3-button">CONSTRUCTOR</a>
    <a href="/cart" class="w3-bar-item w3-button">CART</a>
    <a href="/order" class="w3-bar-item w3-button">ORDERS</a>
    <a href="/pizzeria" class="w3-bar-item w3-button">CONTACTS</a>
    <a href="/profile">profile</a>
    {{#logout}}{{/logout}}
    <div id="message"></div>
</div>

  
    <div class="w3-display-middle w3-center">
    </div>
    </div>
</div>

