<header id="header">
        <p id="notification"> </p>
</header>
<div id="menu" class="w3-content">
    <div class="menu">
       <a href='/pizza'> <img src="/static/image.png" width="180"></a>
    <a href="/pizza" class="w3-bar-item w3-button">Pizza</a>
    <a href="/drink" class="w3-bar-item w3-button">Drink</a>
    <a href="/constructor" class="w3-bar-item w3-button">Constructor</a>
    <a href="/cart" class="w3-bar-item w3-button">Cart</a>
    <a href="/order" class="w3-bar-item w3-button">Orders</a>
    <a href="/pizzeria" class="w3-bar-item w3-button">Contacts</a>
    <a href="/profile">Profile</a>
    {{#logout}}{{/logout}}
    <div id="message"></div>
</div>

  
    <div class="w3-display-middle w3-center">
    </div>
    </div>
</div>

