<script src="/static/script/cart.js"></script>
{{#if admin}}
<h1>You're the admin. You can't order </h1>
{{else}}
<div>
    <h1>CART</h1>
    <div id="cart">
    <h2>PIZZA</h2>
    <div id="pizza"></div>
    <h2>DRINK</h2>
    <div id="drink"></div>
    <div id="totalPrice"></div>
     Pizzerias: 
				
    <select id="selectPizzeria">
        {{#each data}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    </div>

   
    <button onclick="order()">Order</button>
</div>
{{/if}}