<script src="/static/script/cart.js"></script>

<div>
    <h1>CART</h1>
    <div id="cart">
    <h2>PIZZA</h2>
    <div id="pizza"></div>
    <h2>DRINK</h2>
    <div id="drink"></div>
    <div id="totalPrice"></div>
    </div>

    <button onclick="order()">Order</button>
</div>