<script src="/static/script/deletePizza.js"></script>

<input style="border-radius: 10px 10px 10px 10px;" type='text' placeholder='Id' id='id' value={{id}} disabled />
<button style="border-radius: 5px 5px 5px 5px;" onclick='Delete()'>Send</button>