<script src="/static/script/error.js"></script>

<form method="POST" action="/login">
    <input type="email" name="email" placeholder="email" required>
    <input type="password" name="password" minlength="5" placeholder="password" required>
    <button type="submit">login</button>
</form>
