<script src="/static/script/error.js"></script>
 <img src="/static/image.png" width="180" style="margin-left:450px">

<div id='login'>
    <form method="POST" action="/login">
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" minlength="5" placeholder="password" required>
        <button type="submit">login</button>
    </form>
</div>
