<div>
<form method="POST" action="/drink" enctype="multipart/form-data">
 <input type='text' name="name" value="{{name}}" placeholder="name" required>
    <input type='number' name="volume" value="{{volume}}" placeholder="volume" required>
    <input type='number' name="price" value="{{price}}" placeholder="price" required>
    <input type='file' name="image" value="{{image}}" placeholder="image" required>
    
<button type="submit">Send</button>

</form>
</div>