<div>
<form method="POST" action="/pizzeria" enctype="multipart/form-data">
    <input type='text' name="name" value="{{name}}" placeholder="name" required>
    <input type='text' name="address" value="{{address}}" placeholder="address" required>
    <input type='file' name="image" value="{{image}}" placeholder="image" required>
<button type="submit">Send</button>

</form>
</div>