<script src="/static/script/putDrink.js"></script>

<input id="id" value="{{id}}" disabled></input>


<div id='count'>  
    <input type='text' name="name" value="{{name}}" required>
    <input type='number' name="volume" value="{{volume}}" required>
    <input type='number' name="price" value="{{price}}" required>


</div>
<button onclick='Update()'>Send</button>