<script src="/static/script/error.js"></script>
<img src="/static/image.png" width="180" id="logo">

<div id='signUp'>
    <form method="POST" action="/signup">
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" minlength="5" required>
        <button type="submit">sign up</button>
    </form>
</div>
